*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    margin-top: 50px;
    border:1px solid gray;
    background-color: rgb(194, 193, 193);
}
.div1{
    border: 5px solid red;
    width: 50%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.div2{
    border: 5px solid gray;
    width: 50%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.line{
    display: flex;
    padding-bottom: 20px;
}
.text span{
 color: grey;
}
.btn{
    background-color: beige;
    color: rgb(236, 211, 16);
    border-radius: 5px;
}